:root {
  --bs-body-color: #697a8d;
  --ungu: #581c87;
}

* {
  font-family: "Schibsted Grotesk", sans-serif;
}

body {
  background-color: #eff0f0;
}

.bg-ungu {
  background-color: var(--ungu);
  color: white;
}

.text-ungu {
  color: var(--ungu);
}

.text-gray {
  color: #a0a4a8;
}

.bg-gray {
  background-color: #a0a4a8;
  color: black;
}

.fw-semibold {
  font-weight: 600;
}

nav .nav-link {
  color: white !important;
  font-weight: bold;
}

.authentication-inner {
  max-width: 450px;
}

.authentication-wrapper.authentication-basic
  .authentication-inner
  .card
  .app-brand {
  margin-bottom: 2.5rem;
}

.app-brand,
.app-brand-link {
  align-items: center;
  display: flex;
}

.authentication-inner .card-body {
  padding: 2rem;
}

.authentication-inner h4 {
  color: #566a7f;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 0;
}

.authentication-inner p {
  color: var(--bs-body-color);
}

.col-form-label,
.form-label {
  color: #566a7f;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.authentication-inner .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
  color: #697a8d;
  display: block;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  padding: 0.4375rem 0.875rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.authentication-inner .form-control:focus {
  background-color: #fff;
  border-color: #696cff;
  box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
  color: #697a8d;
  outline: 0;
}

.authentication-inner .form-control.is-invalid {
  background-color: #fff;
  border-color: #f86c6b;
  box-shadow: 0 0 0.25rem 0.05rem rgba(248, 108, 107, 0.1);
  color: #697a8d;
}

.authentication-wrapper {
  min-height: 80vh;
  background-color: #f5f5f9;
}

.authentication-inner .card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid #d9dee3;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  background-clip: padding-box;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}

.dropdown-user .btn:focus,
.dropdown-user .btn:active,
.home .card-body .btn:focus,
.home .card-body .btn:active {
  outline: none !important;
  box-shadow: none;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

.app-brand-text {
  flex-shrink: 0;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.text-body {
  --bs-text-opacity: 1;
  color: #697a8d !important;
}

.fw-bolder {
  font-weight: 900 !important;
}

.app-brand a {
  text-decoration: none;
}

.home .card {
  border-width: 0px;
  border-radius: 16px;
}

.home .card .card-body {
  padding: 16px 16px 28px 16px;
}

.home .card .card-header {
  padding: 0px;
}

.home .card .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.home .card .card-body .btn {
  border-radius: 16px;
}

.text-justify {
  margin: 0;
  text-align: justify;
}

a {
  text-decoration: none;
  /* color: var(--bs-dark-color); */
  /* color: var(--ungu); */
}

a:hover {
  text-decoration: none;
  /* color: var(--bs-dark-color); */
  /* color: #3d135e; */
  color: var(--ungu);
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-toga {
  background-image: url("../images/toga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 400px; */
}

.bg-toga .glass {
  background: rgba(255, 255, 255, 0.15);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
